<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpamFilter</title>
    <link rel="stylesheet" href="/static/styles/home.css">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <a id="project-title" class="nav-item" href="/">SpamFilter</a>
            <!-- <ul>
                <li><a class="nav-item" href="#home">Home</a></li>
                <li><a class="nav-item" href="#contact">Contact</a></li>
            </ul> -->
        </nav>
    </header>
    <img class="bg" src="/static/files/moon.jpg" alt="bg">
    <main>
        <div class="page" id="home">
            <p>Welcome to SpamFilter | Enter a mail to check for Spam</p>
            <div class="box">
                <form action="{{ url_for('prediction') }}" method="post">
                    <!-- <div class="form-input">
                        <label for="name">Name :</label>
                        <input id="name" name="name" type="text" required autocomplete="off">
                    </div> -->
                    <div class="form-input">
                        <label for="mail_id">Type your Mail :</label>
                        <textarea id="mail" name="mail" type="text" required autocomplete="off" rows="20"></textarea>
                    </div>
                    
                    <div class="buttons">
                        <button type="reset">Reset</button>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="footer">
            <p>copyright © SpamFilter | All rights reserved.</p>
        </footer>
    </main>

</body>

</html>