<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpamFilter</title>
    <link rel="stylesheet" href="/static/styles/home.css">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <a id="project-title" class="nav-item" href="/">SpamFilter</a>
            <ul>
                <li><a class="nav-item" href="#home">Home</a></li>
                <li><a class="nav-item" href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <img class="bg" src="/static/files/night.jpg" alt="bg">
    <main>
        <div class="page" id="home">
            <p>Welcome to SpamFilter | Enter a mail to check for Spam</p>
            <div class="box">
                <form action="" method="post">
                    <div class="form-input">
                        <label for="name">Name :</label>
                        <input type="text">
                    </div>
                    <div class="form-input">
                        <label for="mail_id">Mail id :</label>
                        <input type="text">
                    </div>
                    <div class="buttons">
                        <button type="reset">Reset</button>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="page" id="contact">
            <p>Contact Us</p>
        </div>

        <footer class="footer">
            <p>copyright © SpamFilter | All rights reserved.</p>
        </footer>
    </main>

</body>

</html>