@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color:rgb(138, 151, 236);
}
main {
    backdrop-filter: blur(10rem);
}
footer {
    position: fixed;
    font-size: 1.1rem;
    bottom: 3rem;
    text-align: center;
    color: #c4c4c4;
}
.bg {
    z-index: -100;
    position: fixed;
    width: 100vw;
    height: auto;
    opacity: 60%;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000008;
    height: 10vh;
    font-weight: 600;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    z-index: 100;
    backdrop-filter: blur(2rem);
}

.nav-bar a, li {
    color: lavender;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.2s;
    border-radius: 1px;
}
.nav-item:hover{
    color: rgb(204, 206, 234);
}

#project-title:hover{
    color: rgb(204, 206, 234);
}
.nav-bar a:focus-visible{
    border: 1px solid white;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 2em;
}
.nav-item {
    padding: 10px;
    margin: 1em;
}

.page {
    height: auto;
    min-height: 100vh;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#home {
    flex-direction: column;
}
#home p {
    margin: 3em 1em 2em;
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
}
.box {
    background-color: #00000010;
    width: 60vw;
    height: auto;
    border-radius: 8px;
    padding: 3em;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
    flex-wrap: wrap;
    gap: 2em;
}
.buttons button{
    border-radius: 3rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 0.8em 2.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(167, 173, 241);
    transition: all 0.2s;
}
.buttons button:hover{
   transform: scale(1.04);
}
.buttons button:focus {
    box-shadow: 0 0 3px 0px rgb(167, 173, 241);
    transform: scale(1.05);
}

.form-input {
    display: flex;
    margin: 2em;
    flex-direction: column;
    font-size: 1.3rem;
}
form {
    display: flex;
    flex-direction: column;
}

.form-input label {
    margin: 1em 0;
    font-weight: 400;
    color: #d5d5d5;
}
.form-input input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0.5em;
    font-size: 1.3rem;
}
#mail {
    resize: none;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.5rem;
    background-color: rgba(235, 229, 255, 0);
    border: 1px solid lavender;
    transition: all .2s;
    color: white;
}
#mail:focus {
    border: 1px solid rgb(167, 173, 241);
}

.form-input textarea:focus {
    outline: none;
    color: aliceblue;
}
.link_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.link_box a{
    color: white;
    font-weight: 500;
    margin: 2em;
    font-size: 3rem;
    transition: all 0.3s;
}
.link_box a:hover{
    color: #c4c4c4;
    transform: scale(1.1);
}


@media (max-width: 1260px) {
    .box{
        width: 85%;
    }
    .link_box a{
        font-size: 2.6rem;
    }
}

@media (max-width: 900px) {
    .nav-bar{
        padding: 0 2em;
    }
    .link_box a{
        font-size: 2.2rem;
    }
}
